li {
    list-style-type: none;
    transition-delay: 3s;
}

.NavButton {
    transition-duration: 1s;
}


.NavButton {
    display: none;
}























@media all and (max-width: 390px) {
    .NavBarContainer {
        height: 100%;
        width: 100%;
        /* border: solid purple; */
        
    }

    .NavButtonContainer {
        /* border: solid gold; */
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        transition: all .2s ease-in-out; 
    }


    .NavButton {
        /* display: block; */
        display: flex;
        flex: start;
        /* border: solid red; */
        height: 5%;
        width: 15%;
        z-index: 3;
        position: fixed;
    }

    .NavButton:hover {
        color: white;
        background-color: #3D5467;
        border-radius: 20%;


    }

    .ListContainer {
        /* border: solid red; */
        display: flex;
        height: 30vh;
        width: 30vh;
        z-index: 1;
    }

}